@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dropbtn,.dropbtn1 {
  background-color:#393a3f;
  width: 300px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}


.dropbtn1{
  width: 250px;
  height: 60px;
  background-color: #55565b;
  color: white;
  padding: 0px;
  border-radius: 10px;
}

.dropdown,.dropdown1,.dropdown2{
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0;
  border-radius: 10px;

}

 .dropdown1{
  padding: 0px;
  margin-top: 5px;

 }

.dropdown-content ,.dropdown-content1,.dropdown-content2,.dropdown-content3{
  display: none;
  margin-left: 50px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content3{
  position: relative;
}
.dropdown-content1{
  width: 200px;
  color: black;
  text-decoration: none;
  background-color: rgb(225, 216, 114);
}



.dropdown-content div{
  color: rgb(134, 109, 109);
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}
.dropdown11{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  
}


.dropdown-content1 div{
  height: 60px;
  padding: 0px;
 
  border-radius: 10px;
}
.line1{
  color: white;
}
.drop{
  height: 30px;
  width: 100px;
  background-color: aqua;
}
.dropC{
  display: none;
}

.dropdown:hover .dropdown-content3{display: block;}

.dropbtn:hover .drop-icon{transform: rotate(90deg);}
.dropbtn1:hover .drop-icon{transform: rotate(90deg);}

.dropdown:hover .dropbtn{background-color:gray;border:2px solid black;}
.dropdown1:hover .dropbtn1{
  background-color:rgba(149, 149, 149, 0.274);
  color:black;
  border:2px solid black;
}
.dropdown2:hover .dropbtn{background-color: gray;border:2px solid black;} 

.listview,.gridview{
  display: none;
  font-size: 18px;
  position: absolute;
  width: 90px;
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 5px;
  top:45px;
}
.listview,.gridview{
  display: none;
  font-size: 18px;
  position: absolute;
  width: 90px;
  text-align: center;
  background-color: blue;
  color: white;
  border-radius: 5px;
  top:45px;
}

.list,.grid{
  height: 40px;
  width: 40px;
  position: relative;
}
.list:hover .listview{display: block;}
.grid:hover .gridview{display: block;}

.box1{
  width: 18%;
}
.Thead{
  background-color: #a1b3ea;
  border-radius: 20px;
}

.menuBar{
    position: sticky;
    top:110px;
    margin-left: 10px;
    margin-top: 10px;
    height: 650px;
    padding-right: 10px;
    overflow-y: scroll;  
}
 
.date1{
  font-family: sans-serif;
  font-family: Montserrat;

}
.profileContainer{
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(237,242,242,1) 100%); */
  background-color: rgba(128, 128, 128, 0.304);
  box-shadow: 0px 0px 4px 0px #00000040;
}


/* Generic Data
	Calendar
	Region
	Country
	Currency
Business Data
	Office
	Branch
	Department
	Service
	ServiceGroup
	ProcessingProfile
	DaywiseProcessingProfile
Distribution Data
	MOP
	MOPCluster
	MOPPreference
	MembershipDirectory
	ClearingPersona
	MembershipProperty
	ClearingProperty
Customer Data
	Party
	Account
	PartyServiceProfile
	PartyMOPProfile
	PartyServiceRoute
	PartyMOPRoute
User Data
	UserProfile
	Role
	UserRoleProfile
	ApprovalSetup
System Data
	IDConfiguration
	TemrinalProfile
	RouteConfigProfile */